<%- include('partials/header.html') %>

    <div class="col-md-12" id="faleConosco">
        <h2><b>FALE CONOSCO</b></h2>
        <br>
        <p>Se você deseja tirar dúvidas ou agendar uma visita, entre em contato conosco, por nossos meios oficiais!</p>
        <br>
        <br>
        <br>
        <div class="logosbancos">
            <div class="col-md-3">
                <a href="https://www.youtube.com/@ahavatchessed" target="_blank">
                    <img src="../public/images/faleconosco/youtube.png" alt="youtube ahavat chessed"
                        title="Youtube Ahavat Chessed" id="caixa">
                </a>
                <h3><a style="text-decoration: none; color: black;" href="https://www.youtube.com/@ahavatchessed"
                        target="_blank">YOUTUBE</a></h3>
                <h3><a style="text-decoration: none; color: black;" href="https://www.youtube.com/@ahavatchessed"
                        target="_blank">AHAVAT CHESSED</a></h3>
            </div>
            <div class="col-md-3">
                <img src="../public/images/faleconosco/clock.png" alt="atendimento ahavat chessed"
                    title="Atendimento Ahavat Chessed" id="bb">
                <h3>HORÁRIO DE ATENDIMENTO</h3>
                <h3>SEG-SEX: 08:00-18:00</h3>
            </div>
            <div class="col-md-3">
                <a class="whats" style="text-decoration: none;"
                    href="https://api.whatsapp.com/send/?phone=5541996801918" target="_blank">
                    <img src="../public/images/faleconosco/whatsapp 1.png" alt="whatsapp rosh moshe"
                        title="Whatsapp Rosh Moshe" id="inter">
                </a>
                <h3>WHATSAPP ROSH MOSHE</h3>
                <h3><a class="whats" style="text-decoration: none;"
                        href="https://api.whatsapp.com/send/?phone=5541996801918" target="_blank">(41) 9
                        9680-1918</a>
                </h3>
            </div>
            <div class="col-md-3">
                <a class="whats" style="text-decoration: none;"
                    href="https://api.whatsapp.com/send/?phone=5541998724349" target="_blank">
                    <img src="../public/images/faleconosco/whatsapp 1.png" alt="whatsapp eliana" title="Whatsapp Eliana"
                        id="itau">
                </a>
                <h3>WHATSAPP ELIANA</h3>
                <h3><a class="whats" style="text-decoration: none;"
                        href="https://api.whatsapp.com/send/?phone=5541998724349" target="_blank">(41) 9
                        9872-4349</a>
                </h3>
            </div>
        </div>
    </div>


    <%- include('partials/footer.html') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>